body {
  margin: 0;
  padding: 0;
  background: #eef2f7;
  font-family: Arial, sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;     /* Horizontal Center */
  justify-content: center; /* Vertical Center */

  text-align: center;
}

.form-container {
  display: flex;
  gap: 15px;
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  margin-top: 20px;
}

input {
  width: 250px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  padding: 12px 25px;
  background: #2196f3;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.search-box {
  margin: 20px 0;
  width: 500px;
}

.search-box input {
  width: 100%;
}

.book-list {
  width: 80%;
  margin-top: 20px;
}